h1 {
    color: yellow; 
    text-decoration: none;
    margin-left: 50%;
}

div {
   font-family: fantasy ; 
   color: black; 
   text-decoration: none;
   Width: 500px;
   background: blue;
   margin: auto;
   text-align: center;
}